[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "==1.23.5"  # Ensures compatibility with Prophet & pmdarima
prophet = "*"
pmdarima = "*"
xgboost = "*"
flaml = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
statsmodels = "*"
optuna = "*"

[dev-packages]

[requires]
python_version = "3.9"
